@using JustDanceAcademy.Web.ViewModels.Models
@model IEnumerable<PlanViewModel>


@foreach (var plan in Model)
{

	<div class="snip1404">
		<div class="plan">
			<header>
				<h4 class="plan-title">
					@plan.Title
				</h4>
				<div class="plan-cost"><span class="plan-price">$@plan.Price</span><span class="plan-type"></span></div>
			</header>
			<ul class="plan-features">

				<li><i class="ion-checkmark"> </i> @plan.Age - @plan.AgeRequirement years old</li>

			</ul>
			@if (this.User.IsInRole("Administrator"))
			{
				<button>

					<ul>
						<a asp-area="" asp-controller="" asp-action="">Edit</a>
					</ul>
					<br>
					<ul>
						<a asp-area="" asp-controller="" asp-action="">Delete</a>
					</ul>
				</button>
			}
			else
			{
				<div class="plan-select">
					<ul>
						<a asp-area="" asp-controller="Class" asp-action="GetNumber">Choose this</a>
					</ul>
				</div>
			}



<link rel="stylesheet" href="~/Content/
		function () {css/payCard.css" />
		</div>




	</div>

}




<script>
	/* Demo purposes only */
	$(".hover").mouseleave(
			$(this).removeClass("hover");
		}
	);


	//read ViewBag
	var strValue = "@((string)ViewBag.mssg)";
	if (strValue !== null && strValue !== '') {
		swal-overlay("strValue", {
			dangerMode: true,.
			buttons: true,
		})
	};

</script>
<style>
	.swal-overlay {
		background-color: rgba(43, 165, 137, 0.45);
	}
</style>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

