@{
	ViewData["Title"] = "About us";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="~/Content/css/app.css" asp-append-version="true" />

</head>


<body>



	<section class="about" id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="about-para padding20">
						<div class="block-heading">
							
						</div>

						<div class="dropdown">
							<button class="dropbtn">UserView-Mode</button>
							<div class="dropdown-content">
								<a asp-area="" asp-controller="Class" asp-action="Classes">Classes</a>
								<a asp-area="" asp-controller="Schedule" asp-action="SeeAll">AllSchedules</a>
								<a asp-area="" asp-controller="Instructor" asp-action="All">Instructors</a>
								<a asp-area="" asp-controller="Class" asp-action="Reviews">Reviews</a>


							</div>
						</div>

						
						
						
					</div>
					
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 no-padding">


					<div class="gfg">
						<img src="~/Content/images/index_admin.jpeg" style="po" class="img-responsive" />
						<h3 class="first-txt" style="color:whitesmoke">
							Just <br />   Dance <br />   Academy
						</h3>
						<h3 class="second-txt">
							Slave To The Rhythm
						</h3>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>
<script type="text/javascript" src="~/Content/js/app.js"></script>

<style>
	.gfg {
		margin: 3%;
		position: relative;
	}

	.first-txt {
		position: absolute;
		top: 250px;
		left: 30px;
		color: whitesmoke;
		font-size: 60px;
		font-weight: 900;
	}

	.second-txt {
		position: absolute;
		bottom: 60px;
		left: 45%;
		font-size: 20px;
		color: whitesmoke;
	}
</style>
