@{
    ViewData["Title"] = "About us";
}

<section class="about" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-para padding20">
                    <div class="block-heading">
                        <h2>About JustDance</h2>
                        <p>Slave To The Rhythm</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt diam sit amet suscipit faucibus. Nam porttitor imperdiet metus sed dapibus. Mauris semper leo dolor, vel condimentum ipsum commodo ac. Proin est quam, pulvinar id nibh a, rutrum dictum felis. Fusce quis velit condimentum, gravida massa quis, rutrum arcu. Donec sit amet enim in nibh viverra finibus ut ut sem. Nam pulvinar nibh risus, at commodo lectus placerat ac. Curabitur facilisis at tellus tincidunt convallis. Morbi ullamcorper sed elit vitae ornare.</p>
                    <a asp-area="" asp-controller="User" asp-action="Classes" class="site-btn2">Learn More</a>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 bgcolor-blue">
                        <div class="about-details padding20">
                            <h3>Dance Classes</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt diam sit amet suscipit faucibus. Nam porttitor imperdiet metus sed dapibus. Mauris semper leo dolor, vel condimentum ipsum commodo ac. Proin est quam, pulvinar id nibh a, rutrum dictum felis. Fusce quis velit condimentum, gravida massa quis, rutrum arcu.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 bgcolor-red">
                        <div class="about-details padding20">
                            <h3>Master Classes</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt diam sit amet suscipit faucibus. Nam porttitor imperdiet metus sed dapibus. Mauris semper leo dolor, vel condimentum ipsum commodo ac. Proin est quam, pulvinar id nibh a, rutrum dictum felis. Fusce quis velit condimentum, gravida massa quis, rutrum arcu.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
                <img src="~/Content/images/about.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</section>
