@using JustDanceAcademy.Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@{
	ViewData["Title"] = "About us";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="~/Content/css/app.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Content/css/darkmode.css" asp-append-version="true" />


</head>


<body>



	<section class="about" id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="about-para padding20">
						<div class="block-heading">
							<h2 style="font-size:30px; text-align:center">About Us</h2>
						</div>

						<hr />

						<b style="font-size:20px">As one of the founding members of the JD Culture Education Foundation, Just Dance Academy establishes from the outset a tradition of innovative arts education, pursuing a pure spirit of artistry. </b>

						</p>
						<br />
						<p>
							@if (SignInManager.IsSignedIn(User))
							{

								@*	<input type="checkbox" id="theme-toggle">*@
								@*<button class="button" id="theme-toggle"></button>*@
								<label class="switch switch-green">
									<input type="checkbox" id="theme-toggle" class="switch-input" checked>
									<span class="switch-label" id="theme-toggle" data-on="On" data-off="Off"></span>
									<span class="switch-handle"></span>
								</label>
							}
							<br />
							<div style="font-size:15px;color:dimgray">

								Just Dance Academy is opening Spring 2020 and offers comprehensive dance programs for students of all ages and levels.
								Here, dedicated, enthusiastic and professional teachers hailing from all over the world—from various language and culture backgrounds— are fully committed to students’ dance training and development.
								Under the ownership and direction of Elena Salvatore, who has thirty years of extensive dance training and performance experience,
								the school and staff are committed to empowering diverse students through dance and strive to support each student in their dance journey.

							</div>
							<br />
							<br />
							<br />
						<p style="fill:aqua">Our dance academy is located at Broadway Learning Center and features newly modeled classrooms. The nurturing classroom environment is designed to encourage students to become lifelong lovers of movement and dance. Under the tutelage of our teachers, all of whom graduated from professional dance schools and are still active in the performance arena, students will gain both solid training in technique and creative artistic thinking towards dance as an art form.</p>
						<br />
						<br />
						<div style="font-size:15px;">
							<b>
								We are excited to have the opportunity to positively impact the community by equipping our students with the technical
								and artistic skills that will enable them to express themselves through dance. At the Just Dance Academy,
								students will develop discipline, build self-confidence, feel a great sense of achievement, and experience the
								liberty that movement and imagination can bring to any dancer.
							</b>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 bgcolor-blue" style="margin-bottom:1rem">
							<div class="about-details padding20">
								<h3>Getting-Started in Dancing</h3>
								<p>You just start to dance?Don't worry. After taking our getting-start-level classes You'll feel more comfortable in your body, in class, and on the dance floor.Futhermore you will be prepared for one level up. </p>
							</div>
						</div>

						@*<p style="margin-top:10px">*@
						<div class="col-md-6 col-sm-6 col-xs-12 bgcolor-blue" sbltyle="margin-top:25rem">
							<div class="about-details padding20">
								<h3>Begginer Classes</h3>
								<p>At the beginner levels is where we start focusing on the vocabulary, proper placement and body awareness</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 bgcolor-red" style="margin-top:1rem">
							<div class="about-details padding20">
								<h3>Intermediate Classes</h3>
								<p>Intermediate levels are where we begin to incorporate the basic movements and steps into combinations, and developing into stronger dancers. At this level we also focus on dancer health, dance history and beginning choreography.</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 bgcolor-red">
							<div class="about-details padding20">
								<h3>Advanced Classes</h3>
								<p>The advanced level of our program is an intense focus on technique, combinations, stamina and strength</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 bgcolor-blue" style="margin-top:5rem">
							<div class="about-details padding20">
								<h3>Classes for Kids</h3>
								<p>Our program is designed to enhance children’s trust in their own creative expression while gently introducing skills. It stands alone as a unified program with a full curriculum that grows with the developmental needs of children.</p>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 no-padding">


					<div class="gfg">
						<img src="~/Content/images/index_admin.jpeg" class="img-responsive" />
						<h3 class="first-txt" style="color:whitesmoke">
							Just <br />   Dance <br />   Academy
						</h3>
						<h3 class="second-txt">
							Slave To The Rhythm
						</h3>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>
<script type="text/javascript" src="~/Content/js/app.js"></script>

<style>
	.gfg {
		margin: 3%;
		position: relative;
	}

	.first-txt {
		position: absolute;
		top: 250px;
		left: 30px;
		color: whitesmoke;
		font-size: 60px;
		font-weight: 900;
	}

	.second-txt {
		position: absolute;
		bottom: 60px;
		left: 45%;
		font-size: 20px;
		color: whitesmoke;
	}
</style>

