@{
    ViewData["Title"] = "Classes";
}

    <section class="classes paddingTop-80" id="classes">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="block-heading paddingbottom-80">
                        <h2>Dancing Classes</h2>
                        <p>Slave To The Rhythm</p>
                    </div>
                </div>
            </div>
            <div class="row">
              <h1 style="text-center">No Added Clasess</h1>
        </div>
    </section>

