<section class="testimonial paddingTop-80" id="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="block-heading paddingbottom-80">
                    <h2>What Our Happy Students Say</h2>
                    <p>Slave To The Rhythm</p>
                </div>
            </div>
        </div>
        <div class="row">
        <h1>Emptu</h1>
        </div>
</section>
