@{
    ViewData["Title"] = "Gallery";
}
<section class="gallery paddingTop-80" id="gallery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="block-heading paddingbottom-80">
                    <h2>Dance Gallery</h2>
                    <p>Slave To The Rhythm</p>
                </div>
            </div>
        </div>
        <div class="row">
           <h1>Empty</h1>
        </div>
    </div>
</section>