@using JustDanceAcademy.Web.ViewModels.Models


@model EditDanceViewModel


<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form method="post">
			<input type="hidden" asp-for="@Model.Id" />
			<div class="form-group">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" placeholder="Name...">
				<span asp-validation-for="Name" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Instructor"></label>
				<input asp-for="Instructor" class="form-control" placeholder="Instructor...">
				<span asp-validation-for="Instructor" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description"></label>
				<textarea asp-for="Description" rows="4" class="form-control" placeholder="Small text..."></textarea>
				<span asp-validation-for="Description" class="small text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImageUrl"></label>
				<input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
				<span asp-validation-for="ImageUrl" class="small text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="LevelCategoryId"></label>
				<select asp-for="LevelCategoryId" class="form-control">
					@foreach (var category in Model.LevelsCategory)
					{
						<option value="@category.Id">@category.Name</option>
					}
				</select>
				<span asp-validation-for="LevelCategoryId" class="small text-danger"></span>
			</div>

			<div class="text-center">
				<input class="btn btn-primary mt-3" type="submit" value="Save" />
			</div>
			<br />
			<button class="button" style="margin-left:460px">
				<ul>
					<a onclick="return confirm('You are going to cancel changes for :@Model.Name dance-Class')" asp-area="Administration" asp-controller="Class" asp-action="ViewClasses">Back To Classes</a>
				</ul>
			</button>
		</form>
	</div>
</div>
<link rel="stylesheet" href="~/Content/css/edit-class.css" media="screen">

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}