@using JustDanceAcademy.Web.ViewModels.Models

@model ClassServiceViewModel

<div class="container">

	<link href="~/Content//css/class-box.css" rel="stylesheet" />

	<div class="movie_card" id="bright">
		<div class="info_section">
			<div class="movie_header">
				<h1>@Model.Name</h1>
				<h4>By @Model.Instructor</h4>

			</div>
		</div>
		<img style="width:50%;float:right;margin-right:25%" src="@Model.ImageUrl" />


	</div>




</div>