<footer>
	<div class="copyright bgcolor-red">
		<!--Do not remove Backlink from footer of the template. To remove it you can purchase the Backlink-->
		  <p>&copy; @DateTime.UtcNow.Year Dance Academy All right reserved. Designed by <a href="http://www.themevault.net/" target="_blank">ThemeVault.</a></p>
		<p><a href="#">Open source project</a></p>
	</div>
</footer>