<footer>
	<div class="copyright bgcolor-red">
		<!--Do not remove Backlink from footer of the template. To remove it you can purchase the Backlink-->
		  <p>&copy; @DateTime.UtcNow.Year Dance Academy All right reserved. Designed by <a href="http://www.themevault.net/" target="_blank">ThemeVault.</a></p>
		<p><a href="#">Open source project</a></p>
		<br />
		<p><a asp-area="" asp-controller="User" asp-action="FeedBack">Privacy</a></p>
		<p><a asp-area="" asp-controller="User" asp-action="About">Terms</a></p>
		<div class="social-icons">
			<ul class="social-icon-list">
				<li>
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-github"></i>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>

