<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:300,400,500,600,700,800,900" rel="stylesheet">
	<title>JD-Academy</title>
	<link rel="icon" href="~/Content/favicon.ico" />
	<!-- Bootstrap core CSS -->
	<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="~/Content/css/style.css" rel="stylesheet">
	<link href="~/Content/css/responsive.css" rel="stylesheet">
	<link href="~/Content/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/fonts/website-font/stylesheet.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/mislider.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/mislider-custom.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/Content/css/animate.css">
	<!--SWEETALERT CSS-->
	<link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet"  asp-append-version="true"/>
	









</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
	

		
	<header>


	<partial name="_NavPartial" />

		<div class="bgbanner" id="slider">

			<div class="bgbanner" id="slider">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<div class="carousel-caption">
								<div class="related-website-details">
									<h3 data-wow-duration="1000ms" class="wow slideInLeft animated">Dance To The Beat</h3>
									<p data-wow-duration="1000ms" class="wow slideInRight animated">Create the best moves for you</p>
									<a asp-area="" asp-controller="Class" asp-action="All" data-wow-duration="500ms" class="wow slideInLeft animated site-btn">View Details</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="carousel-caption">
								<div class="related-website-details">
									<h3 data-wow-duration="1000ms" class="wow slideInLeft animated">Be in the Spotlight</h3>
									<p data-wow-duration="1000ms" class="wow slideInRight animated">Learn from the Best - Dance Professionals </p>
									<a asp-area="" asp-controller="Instructor" asp-action="All" data-wow-duration="500ms" class="wow slideInLeft animated site-btn">View Details</a>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<img src="~/Content/images/left-arrow.png" alt="left">
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							<img src="~/Content/images/right-arrow.png" alt="right">
						</a>
					</div>
				</div>
			</div>
		</div>
		

	</header>
	<div class="container">
		<partial name="_CookieConsentPartial" />
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<!--FAQ-->
	<partial name="_Questions" />
	
	<!-- footer -->
	<footer>
		<partial name="_FooterPartial" />
	</footer>
	<!-- //footer -->
	<script src="~/Content/js/wow.min.js"></script>
	<script src="~/Content/js/mislider.js" type="text/javascript"></script>
	<script>
		var wow = new WOW({
			boxClass: 'wow',
			animateClass: 'animated',
			offset: 120,
			mobile: false,
			live: true
		}
		);
		wow.init();
	</script>
	<script type="~/Content/text/javascript">
		jQuery(function ($) {
			var slider = $('.mis-stage').miSlider({
				stageHeight: 550,
				slidesOnStage: false,
				slidePosition: 'center',
				slideStart: 'mid',
				slideScaling: 550,
				offsetV: -5,
				centerV: true,
				navButtonsOpacity: 1,
				slideWidth: 700,
				slideHeight: 600,
			});
		});
	</script>
	<a id="back-to-top" class="scrollTop back-to-top" href="javascript:void(0);" style="display: none;">
		<i class="tv-bounce fa fa-angle-double-up"></i>
	</a>
	<script src="~/Content/js/jquery.min.js" type="text/javascript"></script>
	<script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="~/Content/js/scrolling-nav.js" type="text/javascript"></script>
	<script src="~/Content/js/custom.js" type="text/javascript"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<!--SWEETALERT SCRIPT-->
	
	<script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
