@using JustDanceAcademy.Data.Models
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<ul class="nav navbar-nav navbar-right">
	
	@if (SignInManager.IsSignedIn(User))
	{


		
		var entity = @HttpContextAccessor.HttpContext?.Session.GetString("UserName");
		

	<h1 class="display-4">Welcome,@entity</h1>
	}
</ul>
